<section id="authorVitaContainer">
  <section id="authorVita">
    <app-page-headline>Vita in Versen</app-page-headline>
    <div id="mainSection">
      <div class="leftAlignedContainer">
        <div class="leftAlignedImageSection">
          <img src="assets/images/vita_1.jpg" class="vitaImage" />
          <div class="vitaTextSection">
            <p class="vitaText">
              <span id="vitaTextFirstSnippet">Geboren in Stettin,</span> im
              Winter einundreißig. <br />Als Söhnchen, Schüler, Pimpf fast immer
              brav und fleißig. <br />Im Keller konfirmiert, dieweil der liebe
              Gott <br />
              grad Bomben regnen ließ: SEIN Haus war danach Schrott!
            </p>
            <div class="textMark"></div>
          </div>
        </div>
      </div>

      <div class="rightAlignedContainer">
        <div class="rightAlignedImageSection">
          <div class="vitaTextSection">
            <div class="textMark"></div>
            <p class="vitaText">
              Geflohn in Sack und Pack. In Schwaben erst gelandet. <br />
              In Hamburgs Trümmerfeld am Ende dann gestrandet. <br />
              In Lagern - krank, verlaust - gebetttelt und gelungert. <br />
              Zur Rettung schwarz gedealt (mit Cognac!), sonst verhungert.
              <br /><br />
              Dann gab es wieder Schule. Und eine neue Hose. <br />
              Auf neunundvierzig Kilo, da saß sie ziemlich lose. <br />
              Beim Schultheater drum bin ich herumgetollt <br />
              als dürrer, dummer Junker in Shakespeares <a href="https://de.wikipedia.org/wiki/Was_ihr_wollt"
              target="_blank" 
              >"Was Ihr wollt".</a>
              <br />
              <br />
              Durch diese erste Rolle erwuchs in mir der Drang <br />
              zu Dichtung und Theater, und zwar mein Leben lang.<br />
              Der Lehrer, der das Spielchen so liebevoll betreut,<br />
              dem ruf ich zu im Himmel: Ich bin Ihr Werk, Herr Woydt!
              <br />
              <br />
              Studierte Germanistik. Doch kam ich da nicht weiter:<br />
              Traf nach ein paar Semestern den nächsten Wegbereiter.<br />
              Bei dem war ich nur Lehrling, doch mit weit mehr Interesse:<br />
              <a href="https://www.felix-jud.de/news/"
              target="_blank"> Hamburger Bücherstube</a> hieß meine Glücks-Adresse.<br />
            </p>
          </div>
          <img src="assets/images/vita_2.jpg" class="vitaImage" />
        </div>
      </div>

      <div class="leftAlignedContainer">
        <div class="leftAlignedImageSection">
          <img src="assets/images/vita_3.jpg" class="vitaImage" />
          <div class="vitaTextSection">
            <p class="vitaText">
              Denn <a href="https://www.felix-jud.de/pages/historie/" target="_blank"
              >Felix Jud</a>, mein Chef - er sei hier hoch gepriesen! - <br />
              hat mir den Weg zum Buch, zur Bühne auch gewiesen. <br />
              Die Folge war ein Bühnen- und Radio-Kabarettl: <br />
              <a href="https://de.wikipedia.org/wiki/Die_Buchfinken" target="_blank">Die Buchfinken</a>, so hieß es, Hamburger Bücherbrettl. <br />
              <br /><br />
              Im Funk und auf Tourneen, auch auf der Büchermesse, <br />
              warn wir zu hörn, zu sehen - mit ziemlich guter Presse. <br />
              Wir haben tolle Texte aus Büchern stets entnommen, <br />
              aus geistreich-heitren Werken, die jeder konnt' bekommen.
            </p>
            <div class="textMark"></div>
          </div>
        </div>
      </div>
      <div class="rightAlignedContainer">
        <div class="rightAlignedImageSection">
          <div class="vitaTextSection">
            <div class="textMark"></div>
            <p class="vitaText">
              Als Werbung für die Bücher in Nord und Süd erklang <br />
              von unsrer Viererbande der Bücherbrettl-Sang. <br />
              (Dies war die beste Lehrzeit wohl meines ganzen Lebens. <br />
              Wir spielten fast umsonst zwar, doch keineswegs vergebens!) <br />
              <br /><br />
              Dann kam die Wirtschaftswerbung und lockte mit viel Geld.<br />
              Da hab aufs Kommerzielle ich gern mich umgestellt.<br />
              Schrieb tausend Werbefilme, TV-Spots, schlechte, schöne …<br />
              Fand auch noch Zeit zur Heirat. Bald kamen schon zwei Söhne.<br />
              <br /><br />
              Und dann die Midlife-Crisis! Nach Marketing, Reklame<br />
              begann ich etwas Neues. Doch - Hase war mein Name:<br />
              Obwohl ich von nichts wusste, begründete ich schlau<br />
              ein Reise-Unternehmen mit meiner zweiten Frau!<br />
            </p>
          </div>
          <img src="assets/images/vita_4.jpg" class="vitaImage" />
        </div>
      </div>

      <div class="leftAlignedContainer">
        <div class="leftAlignedImageSection">
          <img src="assets/images/vita_5.jpg" class="vitaImage rotatedImage" />
          <div class="vitaTextSection">
            <p class="vitaText">
              (Die <a href="https://www.clubfamily.de/" target="_blank">KUF-Familienreisen</a> mit Spiel und Spaß für Kinder,<br />
              die gibt es heut noch immer. Wir waren die Erfinder.)<br />
              Doch bald zog mich die Werbung ein weitres Mal an Land,<br />
              als ich die Funk-Reklame, die jeder liebt (!), erfand:
              <br /><br />
              Damit den Radiohörer Reklame interessiert,<br />
              genügt's, dass man die Werbung mit Heiterem garniert,<br />
              die Spots umrahmt mit Späßchen (was oft der Werbung fehlt),<br />
              mit Gags und Tipps und Witzen, von Promis nett erzählt.<br />
              <br /><br />
              So einfach die Idee war, so toll war das Ergebnis:<br />
              Die Hörer fanden plötzlich die Werbung ein Erlebnis!<br />
              Mein Team jedoch erkannte nach manch durchschaffter Nacht,<br />
              dass der Erfolg zwar Freude - doch auch viel Arbeit macht!<br />
            </p>
            <div class="textMark"></div>
          </div>
        </div>
      </div>

      <div class="rightAlignedContainer">
        <div class="rightAlignedImageSection">
          <div class="vitaTextSection">
            <div class="textMark"></div>
            <p class="vitaText">
              Vielleicht fragt sich der Leser, was ich privat so trieb.<br />
              Ja, das private Leben - ich weiß nicht, wo es blieb.<br />
              Als Privatier erst kommt man zum Lesen und zum Dichten,<br />
              zum Reisen, Träumen, Denken und Schreiben von Geschichten.
              <br /><br />
              Hat Zeit, sich zu besinnen, was man in so viel Jahren<br />
              an Förderung und Zuspruch von andern durft’ erfahren.<br />
              Hat Zeit, sich zu bedanken - schaut man auf seine Ernte -<br />
              dieweil man, was gelungen, von größ’ren Könnern lernte.<br />
            </p>
          </div>
          <img src="assets/images/vita_6.jpg" class="vitaImage" />
        </div>
      </div>
    </div>
  </section>
</section>
