<section id="aboutTheAuthorContainer">
  <section id="aboutTheAuthor">
    <h3 id="sectionHeading">Über den Autor</h3>
    <div id="leftSide">
      <img src="assets/images/main.gif" id="authorImage" />
    </div>
    <div id="rightSide">
      <p class="welcomeText">
        <span id="firstSection"
          ><span id="firstLetter">G</span>uten Tag! Ich freue mich, dass Sie
          meine Homepage besuchen. (Falls wir uns im richtigen Leben duzen,
          fühle Dich bitte geduzt!)</span
        >
      </p>
      <div id="roleModelContainer">
        <div>
          <h5 id="roleModelHeading">Vor-Bilder</h5>
        </div>
        <div id="otherAuthorImagesContainer">
          <div class="otherAuthorContainer">
            <img class="otherAuthorImages" src="assets/images/a_1.jpg" />
            <small class="otherAuthorName">Erich Kästner</small>
          </div>
          <div class="otherAuthorContainer">
            <img class="otherAuthorImages" src="assets/images/a_2.jpg" />
            <small class="otherAuthorName">Eugen Roth</small>
          </div>

          <div class="otherAuthorContainer">
            <img class="otherAuthorImages" src="assets/images/a_3.jpg" />
            <small class="otherAuthorName">H. D. Hüsch</small>
          </div>

          <div class="otherAuthorContainer">
            <img class="otherAuthorImages" src="assets/images/a_4.jpg" />
            <small class="otherAuthorName">R. M. Rilke</small>
          </div>
          <div class="otherAuthorContainer">
            <img class="otherAuthorImages" src="assets/images/a_5.jpg" />
            <small class="otherAuthorName">Erich Fried</small>
          </div>
          <div class="otherAuthorContainer">
            <img class="otherAuthorImages" src="assets/images/a_6.jpg" />
            <small class="otherAuthorName">Paul Verlaine</small>
          </div>
          <div class="otherAuthorContainer">
            <img class="otherAuthorImages" src="assets/images/a_7.jpg" />
            <small class="otherAuthorName">T. S. Eliot</small>
          </div>
          <div class="otherAuthorContainer">
            <img class="otherAuthorImages" src="assets/images/a_8.jpg" />
            <small class="otherAuthorName">W. Hidesheimer</small>
          </div>
          <div class="otherAuthorContainer">
            <img class="otherAuthorImages" src="assets/images/a_9.jpg" />
            <small class="otherAuthorName">K. Kusenberg</small>
          </div>
          <div class="otherAuthorContainer">
            <img class="otherAuthorImages" src="assets/images/a_10.jpg" />
            <small class="otherAuthorName">Alfred Polgar</small>
          </div>
          <div class="otherAuthorContainer">
            <img class="otherAuthorImages" src="assets/images/a_11.jpg" />
            <small class="otherAuthorName">E. Hemingway </small>
          </div>
        </div>
      </div>
      <p class="welcomeText">
        Sie sind wahrscheinlich ein Bekannter, ein Freund, einer meiner Hörer
        oder Leser (weibliche User mögen bitte jeweils die Silbe "-in"
        ergänzen!). Unbekannte nämlich kommen gar nicht auf meine Homepage, weil
        sie mich eben nicht kennen!<br /><br />

        Da ich Ihnen also bekannt bin, muss ich mich nicht erst vorstellen.
        Falls Sie aber etwas mehr über mich erfahren wollen, klicken Sie doch
        irgendwann mal auf <a href="/vita">Vita in Versen</a>. Ganz recht, ich
        habe meinen kleinen Lebenslauf und Werdegang in Verse und Reime gefasst.
        Mal was anderes!<br /><br />

        Ja, ich bin ein VERSEMACHER. Mein allererstes Gedicht entstand, als ich
        siebeneinhalb Jahre jung war, im Herbst 1938. Ich konnte es selbst noch
        gar nicht richtig aufschreiben, da man damals die Kunst des Schreibens
        noch mit Griffel und Schiefertafel erlernte. Meine Mutter hat es für
        mich notiert, und in ihrer Handschrift überdauerte es Flucht und Krieg.
        <br /><br />
        Inzwischen sind weit über hundert Gedichte hinzugekommen. Dabei habe ich
        diverse Stil-Arten, Formen und Diktionen ausprobiert. Es gab ja so viele
        bewundernswerte Vorbilder und Brüder im Geiste! Jeder, der dichtet, hat
        eine Menge geistiger Väter und schreibt - ob er will oder nicht - in
        ihrem Geiste. Einige meiner „Ghostwriter“ waren Erich Kästner, Eugen
        Roth, aber auch Hanns Dieter Hüsch, Rainer Maria Rilke, Erich Fried,
        oder - - - ach, schauen Sie doch einfach in mein Buch Vorsicht:
        Gedichte! - Verse aus acht Jahrzehnten.<br /><br />
        Aus der Zeit meines literarischen Kabaretts
        <a href="https://de.wikipedia.org/wiki/Die_Buchfinken" target="_blank"
          >„Die Buch-Finken“</a
        >
        haben sich eine ganze Reihe Funk- und Bühnentexte angesammelt. Aus
        späteren Jahren stammen die „Sprech-Chansons“, die ich für meine
        Vortragsprogramme geschrieben habe - mehr dazu folgt. In meiner
        Gedichte-Auswahl finden Sie auch Übertragungen von Verlaine-Gedichten,
        von Eliot-Katzenballaden sowie Nachdichtungen lappländischer Lyrik. Wenn
        Sie auf <a routerLink="/work">Diverse Verse</a> klicken, können Sie ein paar
        Kostproben lesen.<br /><br />
        Manche Idee ist einfach zu lang für ein Gedicht, zu episch, und so wird
        man eines Tages zum GESCHICHTEN-ERZÄHLER. Schon in meinen
        Kabarett-Jahren habe ich die Stars der kleinen Form bewundert und auch
        auf unsere Brettl-Bühne gebracht, z. B. die „Lieblosen Legenden“ von
        Wolfgang Hildesheimer, die fantastisch-skurrilen Kurzerzählungen von
        Kurt Kusenberg, die meisterlichen Miniaturen von Alfred Polgar. Und ich
        nehme an, dass man diese Vorbilder auch in meinen Geschichten ein wenig
        spürt.<br /><br />

        Zwei Dutzend davon gibt es ebenfalls in einem Buch. Es heißt
        <b>Schwarzrosa Prosa</b>. Darin finden Sie Beinahe-Love-Stories,
        Geschichten vom Hörensagen, Katzen-Schnurren, fast wahre Satiren,
        Typisches aus dem Familienleben, Geschichten ohne Pointe sowie zwei
        Vers-Erzählungen nach Ernest Hemingway. <br /><br />
        Ein weiteres Buch mit 33 Storys ist unter dem Titel
        <b>"Erzähl doch keine Geschichten!"</b> erschienen.Wenn Sie schon mal
        eine Kostprobe lesen möchten, gehen Sie auf
        <a href="work#story">Story zur Probe</a>. <br /><br />
        In den letzten Jahren habe ich begonnen, auch Bühnenstücke und Hörspiele
        zu schreiben. Zum STÜCKESCHREIBER hat mich sicher meine Passion fürs
        Theater gemacht. Ich wähle bewusst das Wort Passion, da es neben
        Leidenschaft ja auch Leiden bedeutet. Und wie oft habe ich gelitten
        unter dem modernen Regietheater, das mit Leidenschaft Stücke zertrümmert
        durch banale Modernisierung, Textwillkür oder brachiale Umdeutung. Dabei
        bin ich durchaus für intelligente Experimente, neue Versionen alter
        Stoffe und sinnvolle Aktualisierungen. Auf das Wie kommt es an!<br /><br />
        Meine Stücke sind nicht dafür gedacht, wirklich aufgeführt zu werden;
        dafür fehlen mir alle Beziehungen. Und deshalb habe ich es gewagt -
        sozusagen nur für mich -, sogar Werke von G. E. Lessing, Arthur
        Schnitzler, Graham Greene und - halten Sie den Atem an! - William
        Shakespeare neu zu fassen! <br /><br />
        Neben solchen Bearbeitungen entstanden auch einige ganz eigene Stücke in
        sehr unterschiedlichen Genres - vom Schauspiel bis zum Audioplay, von
        der Satire über die Komödie bis zur literarischen Revue. All dies liegt
        auch in Buchform vor, und zwar unter dem Titel
        <b>STÜCK-ARBEIT</b>.<br /><br />
        Eine sehr knappe Synopsis meiner Bühnen- und Hörspieltexte können Sie
        lesen, wenn Sie <a href="/work#starke_stuecke">Starke Stücke</a> anklicken.<br /><br />
        Was wäre ein Autor ohne die beliebtesten Erzählformen, ohne Novelle und
        Roman? Ein krasser Außenseiter! Darum habe ich mich nach Lehrjahren in
        der kurzen Form nun auch längeren Texten zugewandt. Das erste Ergebnis
        liegt vor: eine Filmnovelle. Diese Abart der Novelle schildert einen
        Film, den es bereits gibt oder der - wie in diesem Fall - erst noch
        entstehen könnte, so anschaulich, dass der Leser ihn real vor Augen hat.
        Mein Versuch heißt: "Der andere Adam". Darin wird ein Werbemanager in
        der Midlife-Crisis von seinem anderen Ich, seinem inneren Gegenpart zur
        Rede gestellt. Dieser andere Adam tritt jedoch leibhaftig aus ihm hervor
        und beeinflusst sein künftiges Leben mehr, als es dem 'eigentlichen'
        Adam lieb und recht ist. Das kann nicht gut gehen! <br /><br />
        Ich gebe es zu: Ich mag solche etwas irrealen Plots. So kann der Held
        meines kürzlich erschienenen Romans die Gedanken seiner Mitmenschen als
        gesprochene Worte hören - ein Fluch oder eine tolle Chance? Das Buch
        heißt "Der Gedankendieb". <br /><br />
        Das Sprichwort sagt „Lesen und lesen lassen“. Und da mich als Autor
        bisher kaum jemand kannte, demzufolge kaum jemand las, blieb mir gar
        nichts anderes übrig als auch noch zum VORLESER zu werden. (Dank meiner
        langjährigen Funkarbeit habe ich einige Erfahrung und Übung als
        Sprecher.)<br /><br />
        Ich war selbst sehr gespannt, wie es wirkt, wenn man meine Texte hört,
        und habe deshalb neun HÖRBÜCHER mit eigenen Texten produziert. Das liegt
        ja durchaus im Trend - in einer Zeit, wo viele Menschen glauben, zu
        wenig Muße zum Lesen zu haben und deshalb lieber lesen lassen.
        <br /><br />
        Meine Hörbücher heißen:<br /><br />
        <b>„Katzen-Schnurren“</b><br />

        Verse und Prosa über unsere allerliebsten Freunde<br /><br />

        <b>„Modern Times“</b><br />

        Verse und Prosa zum sog. Zeit-Geist<br /><br />

        <b>„Beziehungskisten“</b><br />

        Verse und Prosa über Liebeslust und -last.<br /><br />

        <b>„Aal bis Zebra“</b><br />

        Fabel-haftes und Sa-tierisches in Versen<br /><br />

        <b>„Von der Liebe zur Freundschaft“</b><br />

        Verse und Prosa über die Zweisamkeit<br /><br />

        <b>„Wenn einer eine Reise macht“</b><br />

        Urlaubsnotizen in Versen<br /><br />

        <b>"Lyrik aus Lappland"</b><br />

        Nachdichtungen<br /><br />

        <b>"Eine Katze ist kein Hund"</b><br />

        Freie Übertragungen nach T. S. Eliot<br /><br />

        <b>"Blick zurück nach vorn"</b><br />

        Geschichten von gestern und immer<br /><br />

        <b>"Der Dichter Peter Paul Althaus"</b><br />

        Fantastische Verse, zu Musik gesprochen<br /><br />

        <b>"Ringelnatz in Concert "</b><br />

        Hommage an einen verkannten Dichter<br /><br />

        <b>"Vorsicht: Gedichte! "</b><br />

        Eigene Verse aus acht Jahrzehnte <br /><br />
        Die CDs dauern jeweils rund eine Stunde. Und damit Sie einen ersten
        Eindruck bekommen, habe ich hier einige Ausschnitte aufspielen lassen.
        Auffällig dabei ist, dass ich Gedichte nicht einfach rezitiere, sondern
        aus fast jedem Gedicht - mithilfe passend ausgewählter, speziell
        bearbeiteter Musik, die dem Text unterlegt ist - eine Art gesprochenes
        Chanson mache. So bekommt das Gedicht eine zusätzliche Dimension an
        Stimmung und Intensität. Klicken Sie doch mal auf
        <a href="/work#hoerbuecher">Hörbuch-Proben</a>.<br /><br />
        Man kann meine Rezitation mit Musik auch Live erleben. Denn ich trete im
        kleinen Kreis hin und wieder damit auf. Ich nenne diese Mini-Events
        LESE-BRETTL. Aufführungsorte waren bisher Künstler-Lokale, eine
        Reha-Klinik, Kreuzfahrtschiffe, ein schönes Hotel, aber auch
        Privathaushalte - etwa aus Anlass von Geburtstagen oder Jubiläen.
      </p>
      <div class="welcomeTextImageContainer">
      <img src="assets/images/live.jpg" class="welcomeTextImage" />
        <small class="welcomeTextImageText">Live-Auftritt</small>
    </div>
      <p class="welcomeText">
        Wenn Sie sich für einen solchen Auftritt interessieren, setzen Sie sich
        bitte mit mir über Kontakt in Verbindung. Ich kann mich in Thema, Form
        und Länge ganz nach Ihren Wünschen richten.<br /><br />
        Falls Sie von den angebotenen Lese- oder Hörproben hier Gebrauch gemacht
        haben, wissen Sie es schon:<br /><br />
        <b>Ich bitte Sie dringend um Ihre Meinung!</b><br /><br />
        Dies gilt natürlich erst recht, wenn Sie ein Buch oder eine CD von mir
        gelesen bzw. gehört haben:<br /><br />
        Für diesen Zweck habe ich hier eine Meinungsseite eingerichtet. Nehmen
        Sie kein Blatt vor dem Mund, wenn Sie mein Gästebuch anklicken! Ich
        danke Ihnen schon im Voraus dafür.<br /><br />
        Meine hier erwähnten Bücher und CDs kann man sehr bequem bestellen: die
        Bücher über jede Buchhandlung oder bei AMAZON im Internet, die Hörbücher
        direkt bei mir über <a href="/contact">Kontakt</a>.<br /><br />
        Ich nehme an, meine Homepage besuchen nur Menschen, die ähnliche
        Interessen haben wie ich. Darum gibt es hier noch einen Anhang, den ich
        in unregelmäßigen Abständen aktualisiere und ergänze. Er enthält mehr
        oder minder aktuelle Tipps, kritische Hinweise, kurze Erfahrungsberichte
        über Theaterproduktionen, Bücher, Filme, Videos, Hörbücher,
        TV-Sendungen, Kulturreisen, Vorträge und Seminare, die mich begeistert,
        nachdenklich gemacht oder schwer geärgert haben. Diesen Anhang finden
        Sie unter Tops & Flops.<br /><br />
        Vielleicht ist ein Text dabei, der für Sie ganz persönlich hilfreich
        ist. Das würde mich freuen. Doch damit ich mich freuen kann, brauche ich
        auch diesbezüglich Ihren persönlichen Recall im Gästebuch!<br /><br />
        Es bleibt mir nur noch, mich für Ihr Interesse zu bedanken und mich -
        bis zum nächsten Mal - zu verabschieden. Ich tue das natürlich mit einem
        Gedicht:<br /><br />
      </p>
      <p class="poem">
        Das Literarische, nicht wahr,<br />

        macht sich im Alltag allzu rar.<br />

        Gedichte gar sind unerbeten<br />

        und wahrlich bare Raritäten.<br /><br />

        Zwar sind Geschichten recht beliebt,<br />

        - sofern es sie im Fernsehn gibt.<br />

        Doch vorgelesen, rezitiert?<br /><br />

        Da reagiert man reserviert.<br />

        Theaterstücke, gar Tragödien??<br />

        Oh nein, wir lieben Filmkomödien:<br />

        das Lustspiel als des Alltags Ausgleich,<br />

        wenn’s geht per DVD frei Haus gleich.<br /><br />

        Nun kommt da einer, will mit Stücken,<br />

        mit Vers und Prosa uns beglücken,<br />

        mit Büchern und mit Zuhör-Scheiben?<br />

        Der kann uns - kann uns sonst wo bleiben!<br /><br />

        Oder?<br />
      </p>
    </div>
  </section>
</section>
