<main id="shopContainer">

    <div class="typeContainer anchorElement" id="hoerbuecher" data-anchor="hoerbuecher">
        <app-page-headline>Hörbücher</app-page-headline>
        <section id="audioBooksContainer">
          <app-audiobook-item
            title="„Katzen-Schnurren“"
            subtitle="Verse und Prosa über die allerliebsten Freunde "
            price=" 59 Minuten, Euro 12,00"
            image="assets/books/katzenschnurren_cover_000.jpg"
          >
          </app-audiobook-item>
    
          <app-audiobook-item
            title="„Modern Times“"
            subtitle="Verse und Prosa zum sogenannten Zeit-Geist "
            price=" 51 Minuten, Euro 12,00"
            image="assets/books/moderntimes_cover_000.jpg"
          >
          </app-audiobook-item>
    
          <app-audiobook-item
            title="„Beziehungskisten“"
            subtitle="Verse und Prosa über Liebeslust und -last"
            price="65 Minuten, Euro 12,00"
            image="assets/books/beziehungskisten_cover_000.jpg"
          >
          </app-audiobook-item>
    
          <app-audiobook-item
            title="„Von der Liebe zur Freundschaft“"
            subtitle="Verse und Prosa über die Zweisamkeit"
            price="63 Minuten, Euro 12,00"
            image="assets/books/liebe_cover_000.jpg"
          >
          </app-audiobook-item>
    
          <app-audiobook-item
            title="„Wenn einer eine Reise macht“"
            subtitle="Urlaubsnotizen in Versen"
            price="60 Minuten, Euro 12,00"
            image="assets/books/reise_cover_001.jpg"
          >
          </app-audiobook-item>
    
          <app-audiobook-item
            title="Lyrik aus Lappland"
            subtitle="Nachdichtungen"
            price="34 Minuten, Euro 12,00 "
            image="assets/books/lappland_cd_000.jpg"
          >
          </app-audiobook-item>
    
          <app-audiobook-item
            title="„Eine Katze ist kein Hund“"
            subtitle="Cat-Storys in Versen frei nach T. S. Eliot "
            price="57 Minuten, Euro 12,00"
            image="assets/books/ehikk_000.jpg"
          >
          </app-audiobook-item>
    
          <app-audiobook-item
            title="„Blick zurück nach vorn“"
            subtitle="Geschichten von gestern und immer "
            price="52 Minuten, Euro 12,00 "
            image="assets/books/blickzurueck_000.jpg"
          >
          </app-audiobook-item>
    
          <app-audiobook-item
            title="„Der Dichter Peter Paul Althaus“"
            subtitle="Fantastische Verse, zu Musik gesprochen "
            price="61 Minuten, Euro 12,00 "
            image="assets/books/althaus.jpg"
          >
          </app-audiobook-item>
    
          <app-audiobook-item
            title="„Ringelnatz in Concert“"
            subtitle="Hommage an einen verkannten Dichter "
            price="55 Minuten, Euro 12,00 "
            image="assets/books/ringelnatz.jpg"
          >
          </app-audiobook-item>
    
          <app-audiobook-item
            title="„Vorsicht: Gedichte!“"
            subtitle="Verse aus acht Jahrzehnten"
            price="60 Minuten, Euro 12,00"
            image="assets/books/pappi.jpg"
          >
          </app-audiobook-item>
        </section>
      </div>
      </main>