<main>
<section id="hoerbuecher" class="topicSection anchorElement" data-anchor="hoerbuecher">
    <app-page-headline>Hörbuch-Proben</app-page-headline>
    <section id="audioBooksContainer">
      <div id="audioBookList">
  
        <div class="audioBookContainer">
          <div class="singleTextHeadingContainer">
            <h5 class="singleTextHeading">„Der Aufstand der Ohrwürmer“</h5>
            <div class="headingUnderline"></div>
            <small class="singleTextSubheading"
              >aus meiner CD "Aal bis Zebra"</small
            >
          </div>
          <a href="assets/audiobooks/aal_bis_zebra.mp3" target="_blank">
            <div class="audioProbeButton">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="white"
              >
                <path
                  d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18c.62-.39.62-1.29 0-1.69L9.54 5.98C8.87 5.55 8 6.03 8 6.82z"
                />
              </svg>
  
              <p class="audioProbeText">Hörprobe</p>
            </div></a
          >
        </div>
  
        <div class="audioBookContainer">
          <div class="singleTextHeadingContainer">
            <h5 class="singleTextHeading">„Der blasse Bote“</h5>
            <div class="headingUnderline"></div>
            <small class="singleTextSubheading"
              >aus meiner CD "Lyrik aus Lappland"</small
            >
          </div>
          <a href="assets/audiobooks/der_blasse_bote.mp3" target="_blank">
            <div class="audioProbeButton">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="white"
              >
                <path
                  d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18c.62-.39.62-1.29 0-1.69L9.54 5.98C8.87 5.55 8 6.03 8 6.82z"
                />
              </svg>
  
              <p class="audioProbeText">Hörprobe</p>
            </div></a
          >
        </div>
  
        <div class="audioBookContainer">
          <div class="singleTextHeadingContainer">
            <h5 class="singleTextHeading">„Als wir uns noch ineinander irrten“</h5>
            <div class="headingUnderline"></div>
            <small class="singleTextSubheading"
              >aus meiner CD "Von der Liebe zur Freundschaft" </small
            >
          </div>
          <a href="assets/audiobooks/liebe_zu_freundschaft.mp3" target="_blank">
            <div class="audioProbeButton">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="white"
              >
                <path
                  d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18c.62-.39.62-1.29 0-1.69L9.54 5.98C8.87 5.55 8 6.03 8 6.82z"
                />
              </svg>
  
              <p class="audioProbeText">Hörprobe</p>
            </div></a
          >
        </div>
      </div>
    </section>
  </section>
</main>