<main>

<section id="starke_stuecke" class="topicSection anchorElement" data-anchor="starke_stuecke">
    <app-page-headline>Starke Stücke</app-page-headline>
    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">„Eine Million fällt vom Himmel“</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"
            >Szenen und Songs um Liebe Geld und Zufall</small
          >
        </div>
        <p class="singleText">
          Das Stück, das mit vielen Chansons durchsetzt ist, hat drei Teile. Und
          in jedem dieser Abschnitte fällt (anscheinend - fast - vielleicht
          -wirklich) eine Million vom Himmel. Aber es geht nicht nur um’s Geld.
          Es geht auch um Liebe, Freundschaft, Betrug, Niedertracht und andere
          menschliche Seiten, die durch Geld nicht edler werden.
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">„Fluchten“</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading">Ein Spiel mit drei Seelen</small>
        </div>
        <p class="singleText">
          Ein derzeit unbewohntes Blockhaus am Polarkreis, bis übers Dach
          eingeschneit und total vereist; niemand kann hinein, niemand heraus.
          Es herrscht die monatelange Polarnacht. Eines Morgens treffen in der
          Hütte drei Menschen aufeinander, die sich noch nie gesehen haben. Da
          dies unter den herrschenden Umständen unmöglich ist, können sie keine
          realen Personen sein. Aber was sonst? Traumfiguren? Teilnehmer eines
          unbegreiflichen Experiments? Von wem? Es bleibt den dreien - nach dem
          ersten Schock - nichts anderes übrig, als zu versuchen, das Rätsel
          ihrer Anwesenheit zu lösen. Um dem auf die Spur zu kommen, erzählen
          sie sich gegenseitig ihre (ungewöhnlichen) Lebensgeschichten. Und
          tatsächlich, da gibt es eine Gemeinsamkeit, die - vielleicht - der
          Schlüssel zu ihrem unerklärlichen Zusammentreffen ist. Kaum erkennen
          sie dies, ist der Spuk vorbei. - Aufgelockert wird das Schauspiel in
          den Szenen-Pausen durch Lyrik aus Lappland.
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">„Ein weites Land“</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"
            >Hörspiel, frei nach Arthur Schnitzlers Tragikomödie „Das weite
            Land“
          </small>
        </div>
        <p class="singleText">
          Schnitzlers Bühnenwerk entstand Anfang des zwanzigsten Jahrhunderts
          unter dem Eindruck der neuen Lehre von Sigmund Freud, den der Autor
          sehr verehrte. Im Kern geht es um ein Seelendrama, eine psychologische
          Studie über das Verhalten einiger Charaktere und deren Veränderung
          durch die Ereignisse - also ein feinfühliges Kammerspiel. Jedoch hat
          Schnitzler - wohl im Interesse des Zeitgeschmacks und der
          Theaterwirksamkeit - diesen Kern mit viel saftigem Handlungsfleisch
          umgeben. Derlei Zutaten lassen das Stück heute leicht überfrachtet und
          auch etwas altmodisch erscheinen.
          <br /><br />
          Mein Hörspiel verzichtet auf solche Elemente und konzentriert sich
          ganz auf den wunderbaren Kern. So wird die Handlung zeitlos aktuell.
          Durch Modernisierungen gewisser Abläufe und einige neuzeitlichere
          Vornamen ließ sie sich sogar in unsere Gegenwart verlegen. Meine
          Fassung spielt rund siebzig Jahre später als das Original und überdies
          nicht in Baden bei Wien, sondern in einem Prominenten-Ort am
          Starnberger See. Einige Nebenfiguren konnten entfallen, zwei
          Frauenrollen wurden zu einer zusammengezogen.
          <br /><br />
          Die Hörspiel-Form stellt - durch die Möglichkeit zu Rückblenden,
          beliebigen Ortswechseln und das Gestaltungselement der Denkstimme -
          eine ideale Möglichkeit dar, Schnitzlers stillen Psychokrimi zur
          Wirkung zu bringen.
        </p>
        <div class="imageToTextContainer">
          <div>
            <img
              class="imageToText"
              src="assets/images/texts/ein_weites_land.jpg"
            />
            <small class="imageSubtitle">A. Schnitzler</small>
          </div>
        </div>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">„Die Insel des Zauberers“</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"
            >Magical nach Shakespeares Schauspiel „Der Sturm“
          </small>
        </div>
        <p class="singleText">
          Gegen Ende seiner Schaffenszeit schrieb Shakespeare drei sogenannte
          Romanzen; eine davon ist „Der Sturm“. Er schuf damit eine neue Art des
          Theaters: Fantasy-Stücke, in denen fast nichts realistisch zu
          verstehen ist. Es sind vielmehr Szenenfolgen, bei denen eher das
          innere Geschehen - in und zwischen den Protagonisten - abgebildet wird
          als eine tatsächliche Handlung.
          <br /><br />
          So spielt “Der Sturm“ auf einer Insel, die jedem der unfreiwilligen
          Besucher völlig anders erscheint, und die einmal zwischen Italien und
          Tunis, dann plötzlich bei den Bermudas liegt. Ist diese Insel
          Wirklichkeit? - Es herrscht darauf Prospero, ein Magier, der nahezu
          unbegrenzte Zauberkräfte hat. Auch der titelgebende Sturm ist nur ein
          Meisterstück seiner Magie. Danach erlebt man eine Folge skurriler,
          erschreckender, aber auch erhebender Geister- und Zauber-Events, alle
          inszeniert von dem Inselherrscher, der vor Jahren als Herzog von
          Mailand unrechtmäßig vertrieben wurde. 
          <br /><br />
          So ein Stück kann man eigentlich nicht realistisch und in einem
          konventionellen Stil darbieten - etwa in einem konkreten Bühnenbild.
          Wo vom Autor auf Eindeutigkeit, auf Wahrscheinlichkeit,
          Glaubwürdigkeit und Folgerichtigkeit bewusst verzichtet wird, sollte
          sich das Bühnengeschehen als eine immer wieder überraschende
          Szenenfolge darbieten, in der nicht der Geist der Vernunft herrscht,
          sondern die Geister der Phantasie dominieren.
          <br /><br />
          So entstand meine Version, die formal ein Musical-Libretto ist,
          gestalterisch aber eine magische Revue, eine Zauber-Show, in der eine
          „Attraktion“ die andere ablöst - kurz: ein Magical.
          <br /><br />
          Dabei bleiben Handlung und Sinngehalt des Originals durchaus erhalten.
          Der Text lehnt sich über weite Strecken - in Inhalt und Versmaß, nicht
          im Wortlaut - an Shakespeares wunderbares Stück an. Einige Liedertexte
          wurden eingebaut, einige Passagen gestrafft andere hinzugefügt. Doch
          Shakespeares Botschaft, so denke ich, ist gewahrt worden und wird in
          dieser Form vielleicht für heutige Zuschauer noch deutlicher!
        </p>
        <div class="imageToTextContainer">
          <div>
            <img
              class="imageToText"
              src="assets/images/texts/insel_des_zauberers.jpg"
            />
            <small class="imageSubtitle">W. Shakespeare</small>
          </div>
        </div>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">„Die Freizeit-A.G.“</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"
            >Eine aktuelle Utopie mit Musik</small
          >
        </div>
        <p class="singleText">
          Immer mehr Menschen sind „von der Erwerbsarbeit befreit“, vulgo
          arbeitslos. Doch ein wachsender Teil der ehemaligen Arbeitnehmer macht
          aus der Not eine Tugend. Diese cleveren Typen nennen sich fortan
          „Freizeitnehmer“: Sie schließen sich in einer Arbeits-Gemeinschaft -
          der Freizeit-A.G. - zusammen, organisieren ihren Alltag so, dass sie
          genug Geld zum Leben, aber auch viel kreativen Spaß haben und werden
          sogar zu einer beachteten politischen Kraft. In sehr optimistischen
          Chansons und Statements bringen sie ihre Perspektive zum Ausdruck. -
          Ein nicht ganz (aber doch ein bisschen) ernst gemeintes
          Zukunftsmodell.
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">„Der gute Nathan“</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"
            >Hörspiel. Eine Variation über Lessings „Nathan der Weise“</small
          >
        </div>
        <p class="singleText">
          Lessings dramatisches Gedicht spielt während eines kurzen
          Waffenstillstands zwischen einem Kreuzfahrerheer und dem muslimischen
          Herrscher des Staates Jerusalem - genau im Jahr 1192. Es ist ein sehr
          aufklärerisches Stück, in dem für Vergebung und Toleranz zwischen
          Christen und Muslimen, eigentlich zwischen allen Kulturen und
          Religionen, nachdrücklich geworben wird. Anhand einer komplexen
          Familiengeschichte wird der Unsinn von Hass und Verfolgung drastisch
          vor Augen geführt. Das Stück endet mit einer fast utopisch wirkenden
          Verbrüderung der Hauptfiguren.
          <br /><br />
          Heute stehen sich in Jerusalem Juden und Muslime voll Hass gegenüber,
          und die Christen schauen hilflos zu. Ein Waffenstillstand wird zwar
          angestrebt, aber kann man wirklich auf Aussöhnung und Verbrüderung
          hoffen?
          <br /><br />
          Mein Hörspiel „Der gute Nathan“ ist ein Versuch, Lessings Mahnung und
          die Erfahrungen der Gegenwart zu verschmelzen, jedoch nicht durch eine
          rein äußerliche, nur aufgepfropfte Aktualisierung seines Werkes. Meine
          Version besteht aus einer (neuen) Rahmenhandlung, die wenige Jahre
          nach dem überaus hoffnungsvollen Schluss des „Nathan“ spielt: Sie
          schildert, dass sich die Hoffnungen ganz und gar nicht erfüllt haben:
          Die Hauptpersonen aus Lessings Stück sind geflohen, verschollen, tot.
          In der Region herrschen Anarchie und Terror (wie in den letzten
          Jahrzehnten). Dies erfährt der Zuschauer durch drei „Übriggebliebene“
          - Daja, Klosterbruder, Derwisch -, die sich in der Ruine von Nathans
          Haus verschanzt haben. Diese drei erinnern sich wehmütig an die
          Ereignisse und Hoffnungen von damals. In Rückblenden werden die
          wichtigsten Szenen aus dem Original-Nathan zitiert, jedoch nicht in
          Lessings Versen, sondern formal angelehnt an dessen (frühere)
          Prosafassung.
          <br /><br />
          Am Ende wird das Versteck, der letzte Zufluchtsort der drei
          Entronnenen von marodierenden Horden aus Christen, Juden und Muslimen
          zerstört. Die letzen Worte des Hörspiels spricht ein Sterbender, und
          sie sind kaum zu verstehen. Was sagt er? „Vergebt euch“ oder
          „Vergeblich“?
        </p>
        <div class="imageToTextContainer">
          <div>
            <img
              class="imageToText"
              src="assets/images/texts/der_gute_nathan.jpg"
            />
            <small class="imageSubtitle">G. E. Lessing</small>
          </div>
        </div>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">„Schall und Rauch“</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"
            >Ein literarisches Rollenspiel</small
          >
        </div>
        <p class="singleText">
          Einige Schauspieler verwandeln sich unter Anleitung des Spielleiters
          auf offener Bühne zu den Figuren, die sie darstellen sollen: Christian
          Morgenstern, Joachim Ringelnatz, Peter Paul Althaus, Kurt Tucholsky.
          Denn die Muse der Dichtkunst hat im Auftrag ihres Chefs, Apollo, zu
          einem Brettl-Festival auf dem Olymp eingeladen unter dem historisch
          korrekten Titel „Schall und Rauch“. Die prominenten „Gäste“ tragen
          nicht nur ihre Texte - vielfach als Chanson - vor, sondern es kommt
          auch zu manchem Gedankenaustausch untereinander und mit anderen
          Prominenten der großen Brettl-Zeit, der zu Lebzeiten der „großen
          Geistreichen“ gar nicht geschehen konnte.
        </p>
        <div class="imageToTextContainer">
          <div>
            <img
              class="imageToText"
              src="assets/images/texts/schall_und_rauch_1.jpg"
            />
            <small class="imageSubtitle">Chr. Morgenstern</small>
          </div>
          <div>
            <img
              class="imageToText"
              src="assets/images/texts/schall_und_rauch_2.jpg"
            />
            <small class="imageSubtitle">J. Ringelnatz</small>
          </div>
          <div>
            <img
              class="imageToText"
              src="assets/images/texts/schall_und_rauch_3.jpg"
            />
            <small class="imageSubtitle">P. P. Althaus</small>
          </div>
          <div>
            <img
              class="imageToText"
              src="assets/images/texts/schall_und_rauch_4.jpg"
            />
            <small class="imageSubtitle">K. Tucholsky</small>
          </div>
        </div>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">„Die Bomben-Party“</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"
            >Schwarze Komödie nach einem Roman von Graham Greene</small
          >
        </div>
        <p class="singleText">
          Diesem Stück liegt der Roman „Dr. Fischer aus Genf oder Die
          Bomben-Party“ zugrunde, ein Psychothriller der Extraklasse und eine
          ideale Vorlage für ein spannendes Bühnenwerk.
          <br /><br />
          Ein exzentrischer Krösus, Dr. Fischer, veranstaltet abstruse Partys
          für andere Reiche der Stadt Genf, bei denen er seine Gäste nach
          Kräften demütigt. Wie weit lassen sich diese Wohlhabenden erniedrigen,
          nur um materieller Vorteile willen? Eines Tages aber lädt Dr. Fischer
          den Falschen ein, seinen Schwiegersohn. Der ist weder reich noch
          käuflich. Der Höhepunkt, die Bomben-Party, bringt es an den Tag: Dr.
          Fischer, der arme Egomane, hat sich verrechnet. Er ist am Ende.
        </p>
        <div class="imageToTextContainer">
          <div>
            <img class="imageToText" src="assets/images/texts/party.jpg" />
            <small class="imageSubtitle">Graham Greene</small>
          </div>
        </div>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">“All Blues”</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading">Ein Jazzical. Audio-Play.</small>
        </div>
        <p class="singleText">
          Wir befinden uns auf dem größten, teuersten und luxuriösesten
          Kreuzfahrtschiff der Welt. Dessen Atlantik-Überquerung steht diesmal
          unter dem Motto „Jazz around the Clock“; an Bord sind folglich diverse
          berühmte Jazzmusik-Formationen und Vokalisten. Star des Programms ist
          Roberta Robertson, eine weltberühmte Jazz-Diva, zugleich
          Hollywood-Star, CD-Queen, Festival-Ikone, vielfache Millionärin mit
          Traumvilla in Beverly Hills. 
          <br /><br />
          Sie wird auf dieser Reise begleitet von einem Mönch, ihrem Bruder. Der
          muss im Auftrag seines Ordens ein Projekt im Irak durchführen, wo ein
          furchtbares Terror-Massaker geschehen war. Roberta ist vor kurzem aus
          ihrem goldenen Zuhause dorthin aufgebrochen und hat bei dem Besuch
          ihres Bruders mit eigenen Augen einen grauenhaften Blick in das wahre
          Leben getan. An Bord veranstaltet sie nun zugunsten der Terror-Opfer,
          zumeist Kinder, eine große Benefiz-Gala, die ein Riesenerfolg wird.
          <br /><br />
          Ab Miami inspiziert routinemäßig ein Schiffstester den
          Kreuzfahrt-Liner. Kurz darauf - nach dem Auslaufen in Nassau/Bahamas -
          werden alarmierende Entdeckungen gemacht. Das Schiff wird den nächsten
          Hafen nie erreichen.
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">„Dreikönigsnacht“</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"
            >Venezianisches Maskenspiel nach Shakespeares „Was ihr wollt“</small
          >
        </div>
        <p class="singleText">
          Diese Adaption spielt in Venedig, und zwar im siebzehnten Jahrhundert,
          genauer: in der Nacht vom 5. auf den 6. Januar, dem Höhepunkt, des
          venezianischen Karnevals.
          <br /><br />
          Shakespeares berühmteste Komödie ist ja nicht nur ein heiteres
          Verwechslungsspiel, sondern stellt etliche Figuren vor, die -
          absichtlich oder unbewusst - eine Maske tragen, eine Rolle spielen
          wollen oder müssen, hinter der sich der wirkliche Mensch verbirgt. Im
          Laufe des Stückes entlarven sie sich oder werden entlarvt. So geht es
          hier auch um Selbstfindung, um das Erreichen und die Akzeptanz der
          wahren Identität.
          <br /><br />
          Die Verlegung in die Verkleidungsorgie und den Maskentrubel des
          venezianischen Karnevals unterstreicht diese Täuschungs- und
          Selbsttäuschungs-Dimension des Stücks. Zeitgenössische Musiken, viele
          Lied-Einlagen sowie die etwas morbide Pracht phantastischer Kostüme
          geben dem Geschehen ein überaus farbiges Kolorit.
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">"Ein Puppenspieler"</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading">Funk-Erzählung</small>
        </div>
        <p class="singleText">
          In einer Mischform aus - fiktiver - Dokumentation, reportagehaftem
          Bericht, eingeflochtenen Dialogszenen, Denkmonologen und erzählten
          Erinnerungen Dritter wird das Leben eines Erfolgreichen dargestellt,
          der dennoch scheitert.
          <br /><br />
          In äußerster dörflicher Armut aufgewachsen, entwickelt sich der
          Hochbegabte durch leidenschaftlichen Fleiß zu einem kulturell
          gebildeten Menschen, zum Theaterbesessenen, zum berühmten
          Schauspieler, zum schwerreichen Hollywoodstar.
          <br /><br />
          Aufgrund eines Kindheitserlebnisses hat er eine Obsession für Puppen.
          Er schafft sie, spielt genial damit, kreiert opernhafte Puppenspiele,
          z. B. nach dem Shakespeare-Stoff von King Lear.
          <br /><br />
          Auch seine Partnerinnen, seine Kinder, seine Freunde glaubt er wie
          Puppen formen und beherrschen zu können. Daran scheitert er. Seine
          drei Töchter, deren Zuneigung er mit manipulatorischen Mitteln zu
          erzwingen versucht, wenden sich als Erwachsene voll Hass gegen ihn,
          wollen ihm Reichtum und Ehre rauben. An seinen fünfundsiebzigsten
          Geburtstag kommt es zu einem (fast) tödlichen Eklat. Zwar überlebt er
          das ‚Familienfest’, aber man ahnt, es war der letzte Auftritt des halb
          Wahnsinnigen - und seiner schönsten Puppen.
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">"Der Porzellanladen"</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"
            >Ein Stück Familiengeschichte</small
          >
        </div>
        <p class="singleText">
          Die Inhaberfamilie eines Konzerns für Haushaltswaren hat zwei Söhne
          bei einem Terrorakt in Afrika verloren; der dritte Sohn ist vermisst.
          Überraschend verstirbt Jahre später der Patriarch und
          Unternehmensleiter. Wie soll es weitergehen? Da taucht der verlroene
          Sohn unangekündigt auf. Doch eine Leitung der Firmengruppe kommt für
          ihn nicht in Frage, da er sich inzwischen intensiv dafür engagiert
          hat, das Elend der Dritten Welt zu mildern. Vielmehr macht er der
          konservativen großbürgerlichen Familie schwere Vorwürfe für ihre
          typisch kapitalistische Denk- und Lebensweise. Das Zerwürfnis
          eskaliert ...
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">"Der Kaufmann von London"</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"
            >Eine Variation zu Shakespeares Komödie 'Der Kaufmann von Venedig'
          </small>
        </div>
        <p class="singleText">
          Die Zeitumstände im London Shakespeares und in seinem Venedig ähneln
          einander in vieler Hinsicht. Wollte der Dichter eigentlich die
          Missstände in England geißeln? Vielleicht war er nur wegen der Zensur
          gezwungen, die Handlung in ein anderes Land zu verlegen. Sonst besäßen
          wir heute wohl ein zeitkritisches Stück mit dem Titel 'Der Kaufmann
          von London.' Hier ist es!
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">"Pygmalion zweitausenund --"</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading">Utopische Komödie </small>
        </div>
        <p class="singleText">
          Das Stück spielt auf Zypern, also im Land der Pygmalion-Legende,
          jedoch irgendwann im einundzwanzigsten Jahrhundert. Pygmalion ist auch
          hier Bildhauer; sein Bruder Alexis baut Puppen. Aphrodite, die Göttin
          der Liebe, hat es schwer in der neuen Zeit. Auf Zypern existieren
          riesige Dirnenlager für Millionen Fremdarbeiter aus Afrika und Nahost.
          Pygmalion schafft sich zwar eine Galatea aus Stein, doch als Aphrodite
          die lebenedig werden lässt, erweist sich die Schöne als ein untreues
          und eiskaltes Aas. Zum Glück kann Alexis weibliche Roboter schaffen,
          die fast so liebesfähig sind wie richtige Frauen. Aber Aphrodite darf
          erleben, dass doch die wahre menschliche Liebe siegt.
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">"Prokura vom lieben Gott"</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"
            >Eine Hommage an den Dichter PPA (Peter Paul Althaus)
          </small>
        </div>
        <p class="singleText">
          Diese literarische Revue besteht aus Gedichten des 'Königs von
          Schwabing' und Musik seiner Zeit, also der Fünfziger- und
          Sechzigerjahre des vorigen Jahrhunderts. Ein Alter Ego des
          heiter-poetischen Verskünstlers, drei Schauspieler sowie einige Sänger
          und Musiker präsentieren die Texte so, dass sich ein Lebens-Portrait
          des zu Unrecht fast Vergessenen ergibt.
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">"Zwischen den Fronten"</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading">Einakter/Hörspiel</small>
        </div>
        <p class="singleText">
          Eine Schule in einer deutschen Großstadt, und zwar in einem ehemals
          bürgerlichen Viertel, das zur No-Go-Area verkommen ist. Die Schule
          liegt genau zwischen einer Polizeiwache und den verwahrlosten
          Wohnstätten der Immigranten, Gangster, Dealer und Dirnen. Dazwischen
          vegetieren resignierte Alteingessene. Es wimmelt von aggressiven
          Juigendlichen. Fast täglich rücken Hundertschaften zu Razzien aus,
          doch die Bewohner sind längst besser bewaffnet als die Polizeikräfte.
          Eines Tages gerät die Schule ins Kreuzfeuer der gegnerischen Parteien
          ...
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">"MACBETH nach Shakespeare"</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"
            >Als Hörspiel gestaltet und frei übertragen
          </small>
        </div>
        <p class="singleText">
          Shakespeares kürzestes Stück enthält Spuk- und Hexenszenen, die den
          Protagonisten als echt bedrohlicher Horror erscheinen müssen. Das ist
          auf der Bühne oft schwer glaubhaft zu machen. Die Tongestaltung des
          Hörspiels und die Fantasie der Zuhörer können jedoch eindrucksvollen
          Grusel auslösen.- Auch die Tatsache, dass dieses Stück sehr viele
          Monologe enthält, spricht für eine Hörspielfassung.Denn solche
          Passagen sind ja Äußerungen der inneren Stimme. Und die sogenannte
          Denkstimme ist seit je ein gängiges Mittel dieser Gestaltungsform.
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">
            "Die Waffen des Mannes
            <br />
            oder
            <br />
            Don Juan auf der Flucht"
          </h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"
            >Erotische Komödie mit Musik
          </small>
        </div>
        <p class="singleText">
          Um 1800 in einem autoritären Stadtstaat am Mittelmeer und auf einer
          vorgelagerten Inselgruppe, die liberal und lebenslustig ist.<br /> <br />
          Nach einem Racheakt im Affekt hat sich Don Pedro, ein Edelmann,
          dorthin geflüchtet. Er wird ein Liebling der Frauen. Doch verteidigt
          er seine Freiheit gegen deren einnehmende Strategien auf immer wieder
          andere Weise. Denn seit jener Rachetat ist er in Wahrheit impotent.
          Doch sein Ruf als Don Juan ist stärker: Er gerät in den Verdacht, ein
          Jungfrauen-Schänder zu sein, tötet in Notwehr den Insel-Kommandanten
          und muss sich ins lokale Bordell retten, wo er endlich die Frau
          trifft, die in ihm nicht den charmanten Ernährer, sondern einen echten
          Partner fürs Leben sieht. Allerdings für ein Leben ohne die Ideale der
          Jugend.
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">"Gut ist bös und bös ist gut"</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"
            >Eine Macbeth-Variante, frei nach Shakespeare</small
          >
        </div>
        <p class="singleText">
          Noch ein Versuch, heutigen Rezipienten den Hexenglauben des
          Mittelalters und seine Wirkung auf die Helden, Machthaber und
          einfachen Menschen von damals fühlbar zu machen. War nicht der
          Krieger, Tyrann und Mörder Macbeth zugleich ein Opfer, mit dem man
          (auch) Mitleid haben darf?
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">"Tischgespräche"</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading">Fünf Dramolette </small>
        </div>
        <p class="singleText">
          Eine Zusammenstellung von Eigenbearbeitungen einiger Kurzgeschichten.
          Die reine Dialogform lässt den Inhalt dichter und direkter wirken.
          Fantasie ist gefragt und gefordert.
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">"Das Gastspiel"</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading"> </small>
        </div>
        <p class="singleText">
          Ein Theaterstück mit Zitaten aus "Der Herr Ornifle" von Jean Anouilh
          und "Das weite Land" von Arthur Schnitzler

          <br /><br />
          Ein anrührender Blick hinter die Kulissen der Theaterwelt und die
          privaten Verstrickungen dreier Akteure.
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">"Strafprozess gegen S."</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading">Hörspiel</small>
        </div>
        <p class="singleText">
          Es geht um den erzwungenen Selbstmord eines Mannes, von Beruf
          Steinmetz, von Berufung Philosoph, und um die seltsame Justiz in der
          frühen Demokratie des alten Griechenland.
        </p>
      </div>
    </section>

    <section class="singleTextContainer">
      <div class="singleTextContent">
        <div class="singleTextHeadingContainer">
          <h5 class="singleTextHeading">"Nur ein Verdacht"</h5>
          <div class="headingUnderline"></div>
          <small class="singleTextSubheading">Einakter</small>
        </div>
        <p class="singleText">
          Auf einem Kreuzfahrtschiff häufen sich mitten im Pazifik, fern von
          jedem Hafen, rätselhafte Krankheitsfälle. Wie reagieren die
          Betroffenen, die Gesunden, die Schiffsführung auf den erschreckenden
          Verdacht einer tödlichen Epidemie?
        </p>
      </div>
    </section>
  </section>
</main>