
<nav id="navigation" [style.grid-template-columns]="'repeat('+ navigationItems.length + ', 200px)'">
    <div class="markContainer">
      <div class="mark" [style.left]="markPosition+'px'"
      [@markPositionAnimation]="{value: markPosition, params : { oldOffset: oldMarkPosition, newOffset: markPosition}}"></div>
    </div>
    <div
    *ngFor="let item of navigationItems; let i = index"
    (click)="navigate(i)"
      class="navigationItem"
    >
      <p>{{item.text}}</p>
    </div>
    <div class="markContainer">
      <div  class="mark" [style.left]="markPosition+'px'"
      [@markPositionAnimation]="{value: markPosition, params : { oldOffset: oldMarkPosition, newOffset: markPosition}}"></div>
    </div>
  </nav>