<main id="contactPage">
  <div id="placeholder"></div>
  <!-- <app-page-headline>Kontakt</app-page-headline> -->
  <section id="contactData">
    <p>
      <a id="email" href="mailto:kontakt@dietrichneuhaus.de">kontakt@dietrichneuhaus.de</a> <br><br><br><br><br><br><br><br><br><br><br><br>
      <span id="firstPart">
      Dietrich Neuhaus ist am 6. Dezember 2020 gestorben. <br>
      Seine Werke, als Ausdruck seiner lebenslangen Kreativität, sind weiter zugänglich.
      </span>
      <br><br><br>
      <span id="secondPart">
      Den Nachlass verwaltet Rosemarie Wieland, 82031 Grünwald</span>
    </p>
  </section>
</main>
