<main>  
    <!--DIVERSE VERSE-->
    <section id="diverse_verse" class="topicSection anchorElement"data-anchor="diverse_verse">
      <app-page-headline>Diverse Verse</app-page-headline>
      <section class="singleTextContainer">
        <div class="singleTextContent">
          <div class="singleTextHeadingContainer">
            <h5 class="singleTextHeading">Vorsicht: Gedichte</h5>
            <div class="headingUnderline"></div>
          </div>
          <p class="singleText">
            sind Seelengesichte<br />
            und dunkle Berichte<br />
            aus sehr visionären<br />
            durchgeistigten Sphären!<br /><br />
  
            So kunstvoll Gereimtes<br />
            und lyrisch Geleimtes<br />
            und metrisch Ge-time-tes<br />
            in Jamben, Trochäen -<br />
            ist das zu verstehen?<br /><br />
  
            Und dann die Gefühle!<br />
            Statt Herzenskühle<br />
            ein wildes Gewühle<br />
            im Innern zu spüren -<br />
            wohin kann das führen?<br /><br />
  
            Doch erst die Gedanken!<br />
            Die sprengen ja Schranken<br />
            und bringen ins Wanken<br />
            - fast Zeile für Zeile -<br />
            die Vorurteile!<br /><br />
  
            Vielleicht wird Gewagtes<br />
            (noch niemals Gesagtes,<br />
            auch lang schon Beklagtes)<br />
            dich heftig umschwirren -<br />
            vielleicht auch verwirren . . . <br /><br />
  
            Doch freilich, Gedichte<br />
            sind ja bei Lichte<br />
            noch Leichtgewichte,<br />
            verglichen mit Dramen<br />
            und dicken Romanen!<br /><br />
  
            Ja, wortgewaltig<br />
            und mannigfaltig<br />
            und vielgestaltig<br />
            weist grade die Dichtung<br />
            dem Menschen die Richtung!<br /><br />
  
            Doch stimmt auch: Gewitztes,<br />
            hübsch Überspitztes,<br />
            Humor-Durchblitztes<br />
            ist äußerst vergnüglich<br />
            und liest sich vorzüglich.<br /><br />
  
            Auch Hör-Genüsse<br />
            sind solche Ergüsse<br />
            und Musenküsse.<br />
            Und grade das Hören,<br />
            kann Herzen betören!<br /><br />
  
            Drum Vorsicht: Gedichte<br />
            verursachen Süchte!<br />
            Anstatt dass man flüchte,<br />
            verlangt man nach mehr,<br />
            nach mehr, immer mehr …<br />
            - Bittesehr!
          </p>
        </div>
      </section>
  
      <section class="singleTextContainer">
        <div class="singleTextContent">
          <div class="singleTextHeadingContainer">
            <h5 class="singleTextHeading">Der liebe Gott in der Buchhandlung</h5>
            <div class="headingUnderline"></div>
          </div>
          <p class="singleText">
            Die Buchläden wachsen schneller und schneller.<br />
  
            Sie werben: „Die Auswahl ist unsere Stärke.“<br />
  
            Die Welt wird gescheiter, der Geist leuchtet heller:<br />
  
            Pro Jahr gibt es viel' tausend neue Werke.<br /><br />
  
            In zwölf Etagen, wo Menschengewimmel<br />
  
            an pralle Regale voll Weisheit brandet,<br />
  
            geschah's, dass neulich der Herrgott vom Himmel<br />
  
            per Glaslift mitten im Laden gelandet.<br /><br />
  
            Er trug in der Hand eine Plastiktüte<br />
  
            und sah ein bisschen aus wie ein Penner.<br />
  
            Doch steckten im Beutel - nebst himmlischer Güte -<br />
  
            ein Mini-Kopierer, ein Laptop, ein Scanner!<br /><br />
  
            Im Wunder-Laptop war eingespeist<br />
  
            die Summe all der göttlichen Wahrheit.<br />
  
            Nun wollt er mal sehn, was der menschliche Geist<br />
  
            davon erfasst hat mit Klugheit und Klarheit.<br /><br />
  
            Ich sah ihn durch die Regale schleichen<br />
  
            - Geschichte, Kunst, Naturwissenschaft -<br />
  
            und unsre Weisheit mit seiner vergleichen.<br />
  
            Er speicherte alles, gewissenhaft.<br /><br />
  
            Da leerten sich plötzlich die Bücherwände!<br />
  
            Vor IHM hatt' das meiste keinen Bestand.<br />
  
            Ich sah, dass bei „Religion“ sich am Ende<br />
  
            von Allah bis Zion kein Buch mehr befand.<br /><br />
  
            Grad wollt ich Gott fragen, warum er dies täte,<br />
  
            warum er den menschlichen Geist so beschäme,<br />
  
            das menschliche Forschen mit Füßen träte,<br />
  
            selbst Philosophie begösse mit Häme.<br /><br />
  
            Da war er verschwunden. Ich blickte benommen.<br />
  
            Was treibt Phantasie doch manchmal für Blüten!<br />
  
            Nein, heut kann der Herrgott wohl nicht mehr kommen mit seinen
            gefüllten Wundertüten.<br /><br />
  
            Er weiß, dass - nach hunderttausenden Jahren<br />
  
            voll Irrtum und Unsinn - das nicht mehr geht.<br />
  
            Wir überlebten es nicht, zu erfahren,<br />
  
            dass alles ganz anders ist. Schade, zu spät.<br /><br />
  
            Statt uns zu besuchen, schwelgt ER in Sternen.<br />
  
            vergrößert den Kosmos, den Raum und die Zeit.<br />
  
            Und wird sich immer noch mehr entfernen<br />
  
            von uns, seiner Schöpfung. - Er ist schon sehr weit.
          </p>
        </div>
      </section>
  
      <section class="singleTextContainer">
        <div class="singleTextContent">
          <div class="singleTextHeadingContainer">
            <h5 class="singleTextHeading">Das Leben - ein Traum</h5>
            <div class="headingUnderline"></div>
          </div>
          <p class="singleText">
            Die Träume sind Schäume,<br />
  
            so sagt der Verstand.<br />
  
            Das Leben - ein Traum,<br />
  
            so sagt es der Dichter.<br /><br />
  
            Vergiss diesen Tand,<br />
  
            so lästert der Morgen.<br />
  
            Nein, öffne die Seele,<br />
  
            so flüstert die Nacht.<br /><br />
  
            Im nächtlichen Raum<br />
  
            sind all deine Sorgen<br />
  
            sehr kunstvoll verborgen<br />
  
            als grelle Gesichter.<br /><br />
  
            Das Leben - ein Traum,<br />
  
            so sagt es der Dichter.<br /><br />
  
            <span class="indentedSection"
              >Träume sind lächerlich,<br />
  
              spricht die Logik.<br />
  
              Träume erschrecken mich,<br />
  
              ruft das Herz.<br />
  
              Nur Illusionen sind’s,<br />
  
              sagt das Hirn.<br />
  
              Wollen die Seele verwirrn,<br />
  
              meint die Psyche.</span
            ><br />
  
            Sind Träume wohl wahr,<br />
  
            nur Märchen, nur Schein,<br />
  
            im Seelenraum gar<br />
  
            nur irrende Lichter?<br /><br />
  
            Das Leben - ein Traum,<br />
  
            so sagt es der Dichter.
          </p>
        </div>
      </section>
    </section>
</main>